html,
body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  background-color: rgb(255, 208, 0);
  width: 100%;
}

h1 {
  width: 65%;
  background-color: #2d2d30;
  margin-left: 10px;
  color: rgb(235, 235, 235);
  background-color: #2d2d30f6;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 19px 5px 32px -7px rgba(0, 0, 0, 0.69);
}

#btn-open-add-new {
  border: none;
  color: rgb(235, 235, 235);
  background-color: #2d2d30f6;
  border-radius: 5px;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  margin-left: 10px;
  box-shadow: 19px 5px 32px -7px rgba(0, 0, 0, 0.69);
}

.add-book-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.452);
  display: none;
}

.remove-book {
  width: 20px;
  padding: 0px 0px;
  margin: -10px -7px 7.5px;
  border: none;
  border-radius: 2px;
  outline: none;
  color: rgb(235, 235, 235);
  background-color: #2d2d3000;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}

.remove-book:hover {
  font-weight: bold;
}

.remove-book:active {
  font-weight: normal;
  box-shadow: inset 0 0 10px rgba(235, 235, 235, 0.2);
}

#add-book-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 350px;
  height: 150px;
  background-color: #2d2d30f6;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 19px 5px 32px -7px rgba(0, 0, 0, 0.69);
  box-shadow: 19px 5px 32px -7px rgba(0, 0, 0, 0.69);
}

.new-book-label {
  color: rgb(235, 235, 235);
  display: inline-block;
  width: 48px;
  padding: 7px;
  font-size: 14px;
}

input[type="text"] {
  border: 0px;
  border-bottom: 1px solid rgb(155, 155, 155);
  width: 260px;
  height: 20px;
  background-color: #2d2d3000;
  color: rgb(203, 247, 162);
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  outline: none;
  caret-color: rgb(235, 235, 235);
}

#nPages {
  color: rgb(243, 144, 108);
}

#nRead {
  margin-left: 0px;
  transform: translate(0px, 2px);
}

#btn-add-book {
  margin-top: 10px;
  border: none;
  border-bottom: 0.5px rgb(235, 235, 235) solid;
  border-radius: 2px;
  background-color: #2d2d3000;
  color: rgb(235, 235, 235);
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}

.card-catalog {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  min-width: 600px;
  max-width: 900px;
}

.library-card {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  min-width: 220px;
  margin: 10px;
  width: 200px;
  height: 150px;
  font-weight: normal;
  color: rgb(235, 235, 235);
  background-color: #2d2d30f6;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 19px 5px 32px -7px rgba(0, 0, 0, 0.69);
  box-shadow: 19px 5px 32px -7px rgba(0, 0, 0, 0.69);
}
